.portada {
    width: 100%;
    background: #e5e5e5;
    min-height: 100vh;
    position: fixed;
    top: 18px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .5s ease-out all;
}

#cuenta {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.simply-section {
    width: 180px;
    height: 180px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simply-amount {
    display: block;
    font-size: 50px;
    font-weight: 700;
}

.simply-word {
    font-weight: 300;
    font-size: 30px;
}

/* Media queries para hacer el diseño responsive */

/* Para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
    .portada{
        top: 0;
    }
    .simply-section {
        width: 120px;
        height: 120px;
        margin: 0 10px;
    }

    .simply-amount {
        font-size: 40px;
    }

    .simply-word {
        font-size: 20px;
    }
}

/* Para pantallas aún más pequeñas */
@media only screen and (max-width: 480px) {
    .portada{
        top: 0;
    }
    .simply-section {
        width: 80px;
        height: 80px;
        margin: 0 5px;
    }

    .simply-amount {
        font-size: 30px;
    }

    .simply-word {
        font-size: 16px;
    }
}
